/*<meta />*/

body
{
	font-family: Verdana, Tahoma, "ＭＳ Ｐゴシック", sans-serif;
	background-color: #ffffff;
}

h1
{
	font-weight: bold;
	font-size: 14pt;
}

li.h1
{
	font-weight: bold;
	font-size: 14pt;
}

h2
{
	font-weight: bold;
	font-size: 12pt;
}

li.h2
{
	font-weight: bold;
	font-size: 12pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	background-repeat: No-Repeat;
	background-attachment: scroll;
	background-color: Transparent;
	background-position: Right 0%;
	line-height: 200%;
}

li.h3
{
	font-weight: bold;
	font-size: 14.0pt;
	line-height: 200%;
}

h4
{
	font-weight: bold;
	font-size: 14pt;
	line-height: 200%;
	background-position: Right 0%;
	background-attachment: fixed;
	background-repeat: No-Repeat;
}

li.h4
{
	font-weight: bold;
	font-size: 14pt;
	line-height: 200%;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

li.h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 9.0pt;
}

li.h6
{
	font-weight: bold;
	font-size: 9.0pt;
}

p
{
	font-size: 10pt;
	margin-left: 0px;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
}

li.p
{
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

a.expandspot
{
	cursor: hand;
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

span.expandtext
{
	font-size: 10pt;
	color: #0000ff;
	font-weight: bold;
}

a.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	color: #0000ff;
	font-size: 10pt;
	text-decoration: none;
}

a.glossterm
{
	cursor: hand;
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

span.glosstext
{
	color: #0000ff;
	font-weight: bold;
	font-size: 10pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10pt;
}

p.title
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
}

li.p_title
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
}

p.info
{
	list-style: url("Image/information.gif");
	margin-left: 20px;
}

p.warning
{
	list-style: url("Image/notice.gif");
	mc-next-tag: p;
}

li.p_warning
{
	list-style: url("Image/notice.gif");
	font-size: 10pt;
}

p.pdf
{
	list-style: url("Image/i_pdf.gif");
	mc-next-tag: p;
}

li.p_pdf
{
	list-style: url("Image/i_pdf.gif");
	font-size: 10pt;
}

p.download
{
	list-style: url("Image/i_down.gif");
	mc-next-tag: p;
}

li.p_download
{
	list-style: url("Image/i_down.gif");
	font-size: 10pt;
}

a.popupspot
{
	font-size: 10pt;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

MadCap|dropDownHotSpot.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	color: #0000ff;
	font-size: 10pt;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-size: 10pt;
	color: #0000ff;
	font-weight: bold;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

MadCap|expandingBody.glossterm
{
	color: #0000ff;
	font-weight: bold;
	font-size: 10pt;
}

MadCap|textPopup.popupspot
{
	font-size: 10pt;
}

ol.ol_1
{
	list-style-type: decimal;
}

td.td_1
{
	border: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_2
{
	border-top: Solid 1px #808080;
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_3
{
	border-left: Solid 1px #808080;
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_4
{
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

table.table_1
{
	margin-left: 40px;
}

p.p_1
{
	margin-left: -20px;
}

img.img_1
{
	border: none;
}

p.p_2
{
	margin-left: 40px;
}

p.p_3
{
	margin-left: 80px;
}

p.p_4
{
	margin-left: 60px;
}

p.p_5
{
	margin-left: 20px;
}

span.span_1
{
	font-weight: bold;
}

table.table_2
{
	left: 0px;
	top: 0px;
}

td.td_5
{
	border-top: Solid 1px #808080;
	border-left: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_6
{
	border-left: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

p.p_6
{
	margin-left: 0in;
}

table.table_3
{
	left: 0px;
	top: 636px;
	margin-left: 40px;
}

li.p_warning_1
{
	list-style: url("Image/notice.gif");
	font-size: 10pt;
	margin-left: -20px;
}

li.p_1
{
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	margin-left: -20px;
}

li.p_info_1
{
	list-style: url("Image/information.gif");
	font-size: 10pt;
	margin-left: -20px;
}

p.p_7
{
	font-weight: normal;
}

p.p_8
{
	font-weight: bold;
}

p.p_9
{
	margin-left: 12px;
}

p.title_1
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
	margin-left: 0px;
}

p.p_10
{
	margin-left: 0px;
}

table.table_4
{
	margin-left: 20px;
}

li.p_info_2
{
	list-style: url("Image/information.gif");
	font-size: 10pt;
	color: #808080;
}

p.p_11
{
	color: #c0c0c0;
}

li.li_1
{
	list-style: none;
	display: inline;
}

span.span_2
{
	font-weight: bold;
	color: #ff7f00;
}

li.p_download_1
{
	list-style: url("Image/i_down.gif");
	font-size: 10pt;
	margin-left: -20px;
}

img.img_2
{
	border: Solid 1px #808080;
	border-width: 1px;
	border-style: solid;
}

table.table_5
{
	left: 0px;
	top: 26px;
}

p.p_12
{
	margin-left: 20px;
	font-weight: normal;
}

td.td_7
{
	border-top: Solid 1px #808080;
	border-left: Solid 1px #808080;
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

table.table_6
{
	margin-left: 80px;
}

span.span_3
{
	margin-left: 20px;
}

td.td_8
{
	padding-right: 10px;
	padding-left: 10px;
}

table.table_7
{
	margin-left: auto;
	margin-right: auto;
}

table.table_8
{
	left: 0px;
	top: 593px;
	margin-left: 40px;
	margin-left: 0;
	margin-right: auto;
}

table.table_9
{
	left: 0px;
	top: 593px;
	margin-left: 40px;
	margin-left: 0;
	margin-right: auto;
}

p.p_13
{
	margin-left: 16px;
}

td.td_9
{
	border: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
}

span.span_4
{
	background-color: #c0c0c0;
}

p.p_15
{
	margin-left: 32px;
}

p.p_16
{
	margin-left: 56px;
}

li.li_2
{
	font-size: 10pt;
}

li.li_3
{
	margin-left: -20px;
}

span.span_5
{
	font-size: 10pt;
}

p.p_17
{
	font-weight: bold;
	color: #ffffff;
}

td.td_10
{
	border-left-style: Solid;
	border-left-width: 2px;
	border-top-style: Solid;
	border-top-width: 2px;
	border-right-style: Solid;
	border-bottom-width: 2px;
	border-bottom-style: Solid;
	border-right-width: 2px;
}

td.td_11
{
	border-top-width: 2px;
	border-top-style: Solid;
	border-right-style: Solid;
	border-bottom-width: 2px;
	border-bottom-style: Solid;
	border-right-width: 2px;
}

td.td_12
{
	border-left-style: Solid;
	border-left-width: 2px;
	border-right-style: Solid;
	border-bottom-width: 2px;
	border-bottom-style: Solid;
	border-right-width: 2px;
}

td.td_13
{
	border-right-width: 2px;
	border-right-style: Solid;
	border-bottom-width: 1px;
	border-bottom-style: Solid;
}

td.td_14
{
	border-right-style: Solid;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-bottom-style: Solid;
}

td.td_15
{
	border-left-style: Solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-right-style: Solid;
	border-bottom-width: 1px;
	border-bottom-style: Solid;
}

span.span_6
{
	color: #ffffff;
	font-weight: bold;
}

p.p_18
{
	margin-left: 48px;
}

td.td_16
{
	border-top: Solid 2px #c0c0c0;
	border-left-style: solid;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 2px;
}

td.td_17
{
	border-top: Solid 2px #c0c0c0;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-right-width: 2px;
	border-bottom-width: 2px;
}

td.td_18
{
	border-left-width: 2px;
	border-left-style: solid;
	border-right-style: Solid;
	border-right-width: 2px;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
}

td.td_19
{
	border-bottom: Solid 1px #c0c0c0;
	border-right-width: 2px;
	border-right-style: Solid;
}

span.span_7
{
	margin-left: 0in;
}

li.p_2
{
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: line-through;
}

p.p_19
{
	margin-left: 12px;
	margin-right: 10px;
	text-indent: -12px;
}

h1.h1_1
{
	background-color: Transparent;
}

p.p_20
{
	font-size: 10pt;
}

span.span_8
{
	margin-left: 40px;
}

table.table_10
{
	border-collapse: separate;
	border-collapse: separate;
}

span.span_9
{
	font-size: 10pt;
	font-weight: normal;
}

p.p_21
{
	margin-left: 20pt;
}

p.p_22
{
	margin-left: 36px;
}

p.p_23
{
	border: none;
}

table.table_11
{
	margin-left: 40px;
	margin-left: 0;
	margin-right: auto;
}

td.td_20
{
	border-right: Solid 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_21
{
	border: Solid 1px #808080;
}

td.td_22
{
	border-top: Solid 1px #808080;
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
}

td.td_23
{
	border-left: Solid 1px #808080;
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
}

td.td_24
{
	border-right: Solid 1px #808080;
	border-bottom: Solid 1px #808080;
}

p.p_24
{
	margin-left: 12px;
	font-size: 10pt;
}

span.span_10
{
	color: #ff7f00;
}

table.table_12
{
	left: 0px;
	top: 255px;
	border-collapse: separate;
	border-collapse: separate;
}

span.span_11
{
	font-weight: normal;
}

p.p_25
{
	font-family: Verdana, Tahoma, 'ＭＳ ゴシック', monospace;
}

p.p_26
{
	font-family: Verdana, Tahoma, 'ＭＳ Ｐゴシック', monospace;
}

td.td_25
{
	border: Double 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_26
{
	border-top: Double 1px #808080;
	border-right: Double 1px #808080;
	border-bottom: Double 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_27
{
	border-left: Double 1px #808080;
	border-right: Double 1px #808080;
	border-bottom: Double 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_28
{
	border-right: Double 1px #808080;
	border-bottom: Double 1px #808080;
	padding-right: 10px;
	padding-left: 10px;
}

p.title_2
{
	font-style: normal;
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
	font-weight: normal;
}

p.title_3
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
	margin-left: 20px;
}

p.p_27
{
	margin-left: 100px;
}

p.title_4
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-next-tag: p;
	margin-left: 40px;
}

table.table_13
{
	margin-left: 40px;
	left: 0px;
	top: 1019px;
}

span.span_12
{
	margin-left: 60px;
}

img.img_3
{
	border: Solid 0.5px #808080;
	border-width: 1px;
	border-style: solid;
}

p.p_28
{
	margin-left: 40px;
	font-weight: bold;
}

td.td_29
{
	border-left-style: Solid;
	border-top-style: Solid;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

td.td_30
{
	border-top-style: Solid;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

table.table_14
{
	left: 0px;
	top: 2325px;
}

img.img_4
{
	border: Double 1px #808080;
	border-width: 1px;
	border-style: solid;
}

img.img_5
{
	border-left-style: Solid;
	border-left-width: 1px;
	border-right-style: Solid;
	border-right-width: 1px;
	border-top-style: Solid;
	border-top-width: 1px;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
}

p.p_29
{
	margin-left: 8px;
}

td.td_31
{
	border: Solid 1px #c0c0c0;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_32
{
	border-top: Solid 1px #c0c0c0;
	border-right: Solid 1px #c0c0c0;
	border-bottom: Solid 1px #c0c0c0;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_33
{
	border-left: Solid 1px #c0c0c0;
	border-right: Solid 1px #c0c0c0;
	border-bottom: Solid 1px #c0c0c0;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_34
{
	border-right: Solid 1px #c0c0c0;
	border-bottom: Solid 1px #c0c0c0;
	padding-right: 10px;
	padding-left: 10px;
}

table.table_15
{
	margin-left: 40px;
	left: 0px;
	top: 1516px;
	margin-left: 0;
	margin-right: auto;
}

table.table_16
{
	left: 0px;
	top: 2090px;
	margin-left: 0;
	margin-right: auto;
}

div.droptext_1
{
	display: none;
}

span.span_13
{
	text-decoration: line-through;
}

p.p_30
{
	text-decoration: line-through;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: 'トップ：';
	font-size: 10pt;
}

MadCap|toggler
{
	mc-closed-image: none;
	mc-open-image: none;
}

li.p_info
{
	list-style: url("Image/information.gif");
	font-size: 10pt;
}

a:link
{
	color: blue;
	font-size: 10pt;
	text-decoration: underline;
}

a:visited
{
	color: red;
	font-size: 10pt;
	text-decoration: underline;
}

a:hover
{
	font-size: 10pt;
}

a:active
{
	font-size: 10pt;
	color: #0000ff;
	text-decoration: underline;
}

